.container {
  display: flex;
  flex-wrap: wrap;
  sub {
    font-size: 15px;
    font-weight: 100;
  }
  div {
    width: 400px;
    border: 1px solid #aaa;
    margin: 10px;
    transition:  all .5s;
    cursor: pointer;
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    span {
      display: block;
      margin: 10px;
    }
  }
}
