.border-1 {
  border: 1px solid #aaa;
  display: inline-block;
  padding: 10px;
  margin: 10px;
  h4 {
    text-align: center;
  }
  .close-button {
    background-color: rgb(228, 8, 8);
    color: #fff;
    border: 0;
    outline: 0;
    padding: 4px;
  }
  button {
    border: 0;
    outline: 0;
    padding: 10px;
    cursor: pointer;
    margin: 3px;
    color: #fff;
    background-color: rgb(13, 110, 255);
  }
  .user-name {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
      span {
        transition: all 0.5s;
        &:hover {
          font-size: 30px;
          color: rgb(35, 117, 240);
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
}
